/*Typo*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


/*Navbar*/
a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all 2s;
}

a:hover{
    font-style: italic;
}

p{
    font-family: 'Poppins', sans-serif;
}


/*Botones*/
button.MuiButton-contained{
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
    background: #000;
    margin-top: 5%;
}


button.MuiButton-contained:hover{
    background: #000;
}

button.MuiButton-outlined{
    border-radius: 0;
    border-color: #ddd;
    color: #000;
}

button.MuiButton-outlined:hover{
    border-color: #aaa;
    background: #f9f9f9;
}

li::marker{
    color: #000;
}


