::selection{
    background-color: aqua;
}


/*Typo*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

/*Navbar*/
.navBar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

.navBar li{
    transition: all 1s;
}

.navBar li:hover{
    transform: skewX(-15deg);
}

p{
    font-family: 'Poppins', sans-serif;
}

.logo{
    margin-top: 10%;
    width: 150px
}


/*Botones*/
button.MuiButton-contained{
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
    background: #000;
    margin-top: 5%;
}


button.MuiButton-contained:hover{
    background: #000;
}

button.MuiButton-outlined{
    border-radius: 0;
    border-color: #ddd;
    color: #000;
}

button.MuiButton-outlined:hover{
    border-color: #aaa;
    background: #f9f9f9;
}

li::marker{
    color: #000;
}

/*Item*/
.itemGrid{
    flex-wrap: wrap;
    gap: 6%;
}

.item{
    margin-bottom: 5%;
}

.itemLink{
    text-decoration: none;
}

.itemLink img{
    width: 100%;
}

.itemLink h2 {
    color: #000;
    margin-bottom: 0;
    transition: all 1s;
}

.itemLink h2:hover{
    transform: skewX(-15deg);
}

/*Item Detail*/
.itemDetail {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5%
}

.itemDetail h2 {
    font-size: 48px;
    margin: 0;
}

.itemDetail h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}

.itemDetail p {
    color: #666;
    font-size: 14px;
}

a button {
    text-decoration: none;
}


/*Cart*/

[data-testid = "RemoveCircleOutlineIcon"] {
    color: crimson;
    cursor: pointer;
}

.itemCart img {
    height: 150px;
}

th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.css-1ygcj2i-MuiTableCell-root, p.itemCat{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
}

button.MuiButton-text.vaciarCarro {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: crimson;
}


/*Orden finalizada*/

.orderSummary {
    border: 1px solid #ddd;
}

button.backHome{
    display: block;
    margin: 50px auto 50px;
}